<!DOCTYPE html>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
    }
      .createAccount {
              background-color: lightblue;
              color: black;
              border: 2px solid black;
              margin: 20px;
              padding: 20px;
            }
    
    </style>
     <div class="createAccount">
    <nav id="nav">
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    <form action="" method="POST">
        <h2>Create Account: </h2>
        Email: <input type="text" name="email">
        <br>
        <br>
        Password: <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
    </form>
</div>
</body>