<!DOCTYPE html>
<html lang="en">
<body>
    <nav id="nav">
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
        <h1>Delete File: </h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <select id ='selectvalue' name="delete"></select>
        <button type="submit" id="submit_button"> Submit</button>
    </form>
<script>
    var selectvalue = document.getElementById("selectvalue"), test = {{ name | tojson }};
    for(var i = 0; i < test.length; i++)  {
        
        var selection = document.createElement("OPTION"), // This line creates a variable to store the different values fed in from the JSON object "TEST"
        txt = document.createTextNode(test[i]); // This just reads each value from the test JSON variable above
        selection.appendChild(txt); // This line appends each value as it is read.
        selection.setAttribute("value",test[i]); // This line sets each value read in as a value for the drop down
        selectvalue.insertBefore(selection,selectvalue.lastChild); //This reads eah value into the dropdown based on the order in the "TEST" above.
    }
</script>
</body>
</html>