<!DOCTYPE html>
<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  * {box-sizing: border-box;}
  
  body {
    margin: 0;
  }
    .ModifyExcel {
            background-color: lightblue;
            color: black;
            border: 2px solid black;
            margin: 20px;
            padding: 20px;
          }
  
  </style>
   <div class="ModifyExcel">
    <nav id="nav">
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
    <nav>
      <a href="{{ url_for('modifyExcel') }}">Back</a>
    </nav>
<div class="container">
    <h2>Delete Column</h2>
            <form action = "" method = "POST" enctype="multipart/form-data">
              <h4>{{ excelName }}</h4>
              <h4>{{ sheetName }}</h4>  
                <select name="column_name" id="row_name">
                  {% for item in columns %}
                  <option value="{{ item }}" >{{ item }}</a>
                  {% endfor %}
                </select>
                <button type = "submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>