<!DOCTYPE html>
<body>
    <nav id="nav">
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
<div class="container">
    <h2>Modify Excel File</h2>
        <h4 class="modal-title">Upload Excel File</h4>
          </div>
            <form action = "" method = "POST" enctype="multipart/form-data">
                <p><input type="file" name="excel_file"></p>
                <h4>Sheet Name</h4>
                <label for="sheet name"></label>
                <input name="sheet_name">  
                <h4>Column Name </h4>  
                <label for="column name"></label>
                <input type="text" id="columnname" name="col_name">  
                <h4>Row Name </h4>  
                <label for="row name"></label>
                <input type="text" id="rowname" name="row_name">
                <label for="new value"></label>
                <h4>New Value: </h4>  
                <input type="text" id="newvalue" name="new_value">
                <button type = "submit">Submit form</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</body>