<!DOCTYPE html>
<html lang="en">
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
    }
      .Retrieve {
              background-color: lightblue;
              color: black;
              border: 2px solid black;
              margin: 20px;
              padding: 20px;
            }
    
    </style>
    <div class="Retrieve">
    <nav id="nav">
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
        <h2>Retrieve File: </h2>
    <form method="POST" action="" enctype="multipart/form-data">
        <select id ='selectvalue' name="retrieve"></select>
        <br>
        <br>
<button type="submit" id="submit_button" >Get File</button>
    </form>
<script>
    var selectvalue = document.getElementById("selectvalue"), test = {{ name | tojson }};
    for(var i = 0; i < test.length; i++)  {
        
        var selection = document.createElement("OPTION"), // This line creates a variable to store the different values fed in from the JSON object "TEST"
        txt = document.createTextNode(test[i]); // This just reads each value from the test JSON variable above
        selection.appendChild(txt); // This line appends each value as it is read.
        selection.setAttribute("value",test[i]); // This line sets each value read in as a value for the drop down
        selectvalue.insertBefore(selection,selectvalue.lastChild); //This reads eah value into the dropdown based on the order in the "TEST" above.
    }
</script>
</body>
</div>
</html>



