<!doctype html>
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    * {box-sizing: border-box;}
    
    body {
      margin: 0;
    }
      .VideoDown {
              background-color: lightblue;
              color: black;
              border: 2px solid black;
              margin: 20px;
              padding: 20px;
            }
    
    </style>
    <div class="VideoDown">
    <nav id="nav">
        <a href="{{ url_for('home') }}">Home</a>
    </nav>
    <h2>Download Video</h2>
    <p>&nbsp;</p> 
    <p></p>
    <video width="320" height="240"controls poster="">
        <source src="{{ url }}">
    </video> 
    <a href = "{{ url }}">
        <br>
        <br>
        <input type="submit" value="Download">
    </a>
    </div>
</body>